<template name="nav">

    <div class="nav">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                {{#if isInRole 'admin'}}
                <li><a href="/admin">admin</a></li>
                {{/if}}
            </ul>
        </nav>
        {{> loginButtons}}
    </div>

</template>