<template name="bookList">
    <div class="bookList">
        {{#each books}}
        <div class="book">
            <div class="bookInfo">
                <h3>{{bookTitle}}
                    <span class="bookAuthor">{{bookAuthor}}</span> 
                </h3>
                <div class="menu">
                    <button class="delete">
                        Delete
                    </button>
                </div>
            </div>

            {{> borrowerForm}}
        </div>
        {{/each}}
    </div>
</template>