<template name="borrowerForm">
    
    <div class="borrowerForm">
        <button class="add">+ Add Borrower</button>
        
        {{#autoForm schema=borrowerFormSchema id="borrowerForm" type="method" meteormethod="addBorrower" stickThisBookID=bookIDHelper}}
        {{> afQuickField name="fullName"}}
        {{> afQuickField name="contactNumber"}}
        {{> afQuickField name="borrowedOn"}}
        <div>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        {{/autoForm}}
    </div>

</template>