/* CSS declarations go here */

#login-buttons {
    display: block;
    padding: 15px;
    margin-bottom: 50px;
    border: 1px solid #cccccc;
    position: relative;
}

#login-buttons .login-close-text {
    position: absolute;
    top: 0;
    right: 0;
}

#login-buttons #login-buttons-password {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #cccccc;
}

form .panel-title {
    margin-bottom: 0
}

form .help-block {
    display: block;
    color: crimson;
}

form .panel-body .help-block {
    margin-bottom: 10px;
}

form .panel-body .form-group {
    padding-left: 5px;
    margin-bottom: 5px;
}

form .form-group .help-block {
    padding-left: 130px;
}

form .lvl_top, form .lvl_bot {
    display: block;
    position: relative;
}

label {
    display: inline-block;
    width: 125px;
}

input, select {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

select {
    display: block;
    width: 106px;
    position: absolute;
    top: 2px;
    left: 129px;
}

form .invisible {
    opacity: 0;
}

h4 {
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 1px solid #cccccc;
}